.material-button{
    outline: none;
    width: 100%;
    background-color: $backgroundBtn;
    border-radius: 50px;
    border: none;
    padding: 15px;
    font-size: 30px;
    color: $defaultBtn;

    &:hover{
        opacity: .7;
        cursor: pointer;
    }

    &.disabled{
        background-color: $disableBackgroung;
        color: $disableBtnfont;

        &:hover{
            opacity: 1;
        }
    }
}

.action-btn {
    background: transparent;
    border: none;
    transition: all .5s;
    color: $focus;
    outline: none;
    &:hover{
        cursor: pointer;
        &.delete{
            color: #c43330;
            font-size: 33px; 
        }

        &.edit{
            color: #eea73f;
            font-size: 33px; 
        }
    }

}